# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
.env

# NLTK Data (since you're using nltk)
nltk_data/

# VS Code IDE settings
.vscode/

# OS-specific files (Windows)
Thumbs.db
desktop.ini